.tags_container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 526px;
}

.svg_one {
    width: 20px;
    height: 20px;
    stroke: transparent;
    fill: var(--black);
}
.svg_two {
    width: 20px;
    height: 20px;
    stroke: var(--black);
    fill: transparent;
}
