.card_item {
    display: flex;
    column-gap: 24px;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid rgba(16, 24, 40, 0.2);

    width: 888px;
    height: 358px;
}

.global_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.image {
    object-fit: cover;
}

.description_container {
    display: flex;
    flex-direction: column;
}

.camper_descr {
    color: var(--gray);
    margin-bottom: 24px;
}

.header_name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.location_reviews_container {
    display: flex;
    column-gap: 16px;
    margin-bottom: 24px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
}

.icon {
    width: 16px;
    height: 16px;
}

.tags_container {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 8px;
    width: 526px;
    height: 96px;
}

.location_svg {
    stroke: var(--black);
    fill: transparent;
    width: 16px;
    height: 16px;
}

.heart_svg {
    stroke: var(--black);
    fill: transparent;
    width: 19px;
    height: 21px;
}

.heart_svg:hover {
    stroke: transparent;
    fill: var(--red);
    transition: var(--animation-duration);
}

.show_more_btn {
    color: var(--white);
    width: 166px;
    height: 56px;
    background-color: var(--red);
    border-radius: 100px;
}
