.filter_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px;
    border: 1px solid var(--outline);
    border-radius: 10px;
    width: 115px;
    height: 95px;
}

.filter_btn:hover {
    border-color: var(--red);
    transition: var(--animation-duration);
}

.btn_list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 10px;
    margin-bottom: 32px;
}

.svg_img {
    fill: transparent;
    stroke: var(--black);
    width: 32px;
    height: 32px;
}

.svg_img_two {
    fill: var(--black);
    stroke: transparent;
    width: 32px;
    height: 32px;
}

.section_text {
    color: var(--gray);
    margin-bottom: 14px;
    font-size: 16px;
}

.header_text {
    color: var(--black);
    border-bottom: 1px solid rgba(16, 24, 40, 0.1);
    padding-bottom: 24px;
    margin-bottom: 24px;
}
