.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 100px;
  background-color: var(--red);
  color: var(--white);
  width: 166px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.42;

  transition: background-color var(--animation-duration)
      var(--animation-time-function),
    font-weight var(--animation-duration) var(--animation-time-function);

  &:hover,
  &:focus {
    background-color: #D84343;
    font-weight: 700;
  }
}
